<html leng="en"></html>
    <head>
        <title>404</title>
    </head>
    <body>
        <h1>Page does not exist or has not been found!</h1>
        <%- include('partials/links.html') %>

    </body>