<html leng="en"></html>
    <head>
        <title>404</title>
    </head>
    <body>
        <h1>Well... looks like this page is broken!!</h1>
        <p>What have you done mate?!</p>
        <%- include('partials/links.html') %>

    </body>