<!DOCTYPE html>
<html>
<head>
    <title>Order Completed</title>
</head>

<body>
    <%- include('partials/user_nav.html') %>
    <h1>Your Order has been Completed!</h1>
    <p>Thank you for your purchase. We hope you enjoy your visit to our theme park!</p>
    <a href="/users/logged-in-rides">Back to Rides</a>
</body>
</html>